
@font-face {
    font-family: profile-font;
    src: url(./chat_pics/ui/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: myFont;
    src: url(./chat_pics/ui/fonts/Summer-Vibes-OTF.otf);
}

.wrapper {
    max-width: 900px;
    min-height: 500px;
    display: flex;
    margin: auto;
    color: white;
    font-size: 13px;
    
}

.left-pannel {
    min-height: 500px;
    background-color: #27344b;
    flex: 1;
    text-align: center;
    font-family: profile-font;
}

.profile-img {
    width: 50%;
    border: solid thin white;
    border-radius: 50%;
}

.left-pannel label {
    width: 100%;
    height: 20px;
    display: block;
    background-color: #404b56;
    border-bottom: solid thin #ffffff55;
    cursor: pointer;
    padding: .5rem;
    transition: all 0.5s ease;
}

.left-pannel label:hover {
   background-color: #8e9192;
}

.left-pannel label img {
    float: right;
    width: 25px;
}

.right-pannel {
    min-height: 500px;
    flex: 4;
    text-align: center;
}

.header {
    font-family: myFont;
    background-color: #485b6c;
    height: 70px;
    font-size: 40px;
    text-align: center;
}

.containe {
    display: flex;
}

.inner-left-pannel {
    background-color: #383e48;
    flex: 1;
    min-height: 430px;
}

.inner-right-pannel {
    background-color: #f2f7f8;
    flex: 2;
    min-height: 430px;
}