
@font-face {
    font-family: profile-font;
    src: url(./chat_pics/ui/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: myFont;
    src: url(./chat_pics/ui/fonts/Summer-Vibes-OTF.otf);
}

.wrapper {
    max-width: 900px;
    min-height: 500px;
    display: flex;
    margin: auto;
    color: white;
    font-size: 13px;
    
}

.left-pannel {
    min-height: 500px;
    background-color: #27344b;
    flex: 1;
    text-align: center;
    font-family: profile-font;
}


.profile-img {
    width: 130px;
    border: solid thin white;
    border-radius: 50%;
    height: 130px;
}

.left-pannel label {
    width: 100%;
    height: 20px;
    display: block;
    background-color: #404b56;
    border-bottom: solid thin #ffffff55;
    cursor: pointer;
    padding: .5rem;
    transition: all 0.5s ease;
}

.left-pannel label:hover {
   background-color: #8e9192;
}

.left-pannel label img {
    float: right;
    width: 25px;
}

.right-pannel {
    min-height: 500px;
    flex: 4;
    text-align: center;
}

.header {
    font-family: myFont;
    background-color: #485b6c;
    height: 70px;
    font-size: 40px;
    text-align: center;
    position: relative;
}

.containe {
    display: flex;
}

.inner-left-pannel {
    background-color: #383e48;
    flex: 1;
    min-height: 430px;
}

.inner-right-pannel {
    background-color: #f2f7f8;
    flex: 2;
    min-height: 430px;
    transition: all 300ms ease-in-out;
}

#radio-contacts:checked ~ .inner-right-pannel {
    flex:0; 
}

#radio-settings:checked ~ .inner-right-pannel {
    flex:0; 
}

/*LOGOUT POPUP*/

.logout-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    pointer-events: none;

    transition: all 300ms ease-in-out;
}

.logout-wrap {
    background-color: #f2f7f8;
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;

    transform:translateY(-20px);

    transition: all 150ms ease-in-out;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn {
    color: #f2f7f8;
    font-size: 1.5rem;
    background-color: #404b56;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #242a30;
    /* border: solid white 1px; */
}

.logout-popup-wrapper.active {
    visibility: visible;
    pointer-events: auto;
}

.logout-popup-wrapper.active > .logout-wrap{
    transform: translateY(0px);
}

/*CONTACTS*/

.contact {
    width: 150px;
    height: 120px;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    
}

.contact img{
    width: 100%;
}

/*LOADER ANIMATION*/


.loader {
    display: none;
    position: absolute;
    top: 200px;
    left: 300px;
    padding: 0.5rem;
    width: 100%;
    /* background-color: black; */
}

.loader.active {
    display: flex;
}

/*SETTINGS STYLING*/

.settings-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-wrap input{
    font-size: 1rem;
    padding: .3rem;
    border-radius: .5rem;
    width: 200px;
}

.signin-btn-wrapper {
    display: flex;
    justify-content: center;
}

.signin-btn {
    font-size: 1rem;
    color: aliceblue;
    background-color: rgb(89, 89, 233);
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}
.signin-btn:hover {
    background-color: rgb(57, 57, 201);
}


.settings-profile-pic {
    width: 150px;
    height: 150px;
    margin: 2rem;
}

.change-btn {
    font-size: 1rem;
    color: white;
    background-color: rgb(89, 89, 233);
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.change-btn:hover {
    background-color: rgb(57, 57, 201);
}

.contact-pic {
    height: 120px;
    width: 120px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.contact-pic:hover {
    transform: scale(1.1);
}